/* App.css */

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1a1a1a;
}

header {
  background-color: #282c34;
  color: white;
  padding: 16px 24px;
}

.external-pane, .internal-pane {
  flex: 1;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.external-pane {
  background-color: #1e1e2f;
  color: white;
  border-right: 1px solid #444;
}

.internal-pane {
  background-color: #181824;
  color: white;
}

.external-pane h2,
.internal-pane h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  padding-left: 10px;
}
